/nbproject/private/
/vendor/
/assets/js/
!/assets/js/.gitkeep
/assets/scss/
!/assets/scss/.gitkeep
/assets/vendor/
/bower_components/
/node_modules/

/public/css/*
!/public/css/.gitkeep
/public/files/*
!/public/files/.gitkeep
/public/img/*
!/public/img/.gitkeep
/public/js/*
!/public/js/.gitkeep
/public/temp/*
!/public/temp/.gitkeep